// 颜色
$color-theme: #5cb85c;
$color-subTheme: #aaa;
$color-white: #fff;
$color-article-title: #373a3c;
$color-article-desc: #999;

body {
  --color-theme: #5cb85c;
  --color-subTheme: #aaa;
  --color-white: #fff;
  --color-article-title: #373a3c;
  --color-article-desc: #999;
}